<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Postcode Check</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.bytedash.LaunchBar.action.PostcodeCheck</string>
	<key>CFBundleIconFile</key>
	<string>postcode-logo-square.png</string>
	<key>LBAbbreviation</key>
	<string>pcc</string>
	<key>LBDebugLogEnabled</key>
	<false/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Marco Janssen</string>
		<key>LBSummary</key>
		<string>Shows street en city info when dutch zipcode is entered.</string>
		<key>LBTwitter</key>
		<string>@M4RC0J</string>
		<key>LBWebsite</key>
		<string>http://www.bytedash.com/launchbar</string>
		<key>LBEmail</key>
		<string>launchbar@bytedash.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBScriptName</key>
			<string>PostcodeCheck.js</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Postcode en huisnummer (7521PR 26)</string>
</dict>
</plist>
